.banner {
  padding: 25px 0;
  background-image: url(../assets/images/png/Blume.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner-wrapper .cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.banner-wrapper .page__text-13-Bold {
  margin-left: 8px;
}

.banner-wrapper .page__text-21-Bold {
  margin-bottom: 23px;
  max-width: 300px;
}

.banner-wrapper .page__img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.banner-wrapper .button {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  margin-bottom: 10px;
}

.banner-wrapper .arrow {
  position: absolute;
  right: 0;
  bottom: -6px;
}

.banner-wrapper .page__text-12-Light {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.banner-wrapper-desktop {
  display: none;
  padding: 100px 0 50px 0;
}

.banner-wrapper-desktop .page__text-20-Regular {
  margin-bottom: 250px;
}

.banner-wrapper-desktop .left {
  width: 60%;
}

.banner-wrapper-desktop .right {
  width: 40%;
}

.banner-wrapper-desktop .page__img_cart {
  margin-right: 12px;
}

.banner-wrapper-desktop .page__img_cart img {
  width: 15px;
  height: 15px;
}

.banner-wrapper-desktop .cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 26px;
}

.banner-wrapper-desktop .page__title-h1 {
  margin-bottom: 30px;
}

.banner-wrapper-desktop .button {
  position: relative;
  margin-bottom: 10px;
}

.banner-wrapper-desktop .arrow {
  position: absolute;
  left: 250px;
  bottom: -6px;
}

.banner-wrapper-desktop .page__text-12-Light {
  margin-bottom: 12px;
}

.cases {
  padding-bottom: 80px;
  padding-top: 30px;
  background-image: url(../assets/images/png/Placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1D1D1D;
}

.cases .page__text-20-Regular {
  margin-bottom: 30px;
}

.cases-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases-wrapper .page__img {
  margin-bottom: 10px;
}

.cases-wrapper .page__text-22-Medium {
  margin-bottom: 8px;
}

.cases-wrapper .page__text-15-thin {
  margin-bottom: 14px;
}

.cases-wrapper .border {
  background-color: #DE9B55;
  width: 100%;
  height: 6px;
  border-radius: 6px;
}

.cases-wrapper .cases-item {
  margin-bottom: 40px;
  background: rgba(20, 20, 20, 0.6);
  padding: 17px;
  max-width: 370px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases-wrapper .cases-item:hover .border {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cases-wrapper .border {
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cases-wrapper .apply {
  padding: 30px 15px;
  background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
  -webkit-box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
  box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 350px;
}

.cases-wrapper .apply-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.cases-wrapper .apply-row .page__img {
  width: 42px;
  height: 42px;
  margin-right: 39px;
}

.cases-wrapper .apply-row .page__img img {
  max-width: 200%;
}

.cases-desktop {
  padding: 120px 0 100px;
  background-image: url(../assets/images/png/bg-desk-cases.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.cases-desktop .page__text-42-Regular {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 120px;
  font-size: 26px;
}

.cases-desktop-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 85px;
}

.cases-desktop-item {
  padding: 20px 20px 0 20px;
  background: rgba(20, 20, 20, 0.6);
  max-width: 310px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  opacity: .5;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cases-desktop-item:hover {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cases-desktop-item:hover .border {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cases-desktop-item .page__img {
  max-width: 290px;
  margin-bottom: 20px;
}

.cases-desktop-item .page__text-26-Medium-2 {
  margin-bottom: 10px;
}

.cases-desktop-item .page__text-18-Light-Roboto {
  margin-bottom: 37px;
}

.cases-desktop-item .border {
  background-color: #DE9B55;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.apply-desk {
  margin: 0 auto;
  max-width: 900px;
  background-color: #50386F;
  padding: 20px 0 20px 20px;
  position: relative;
}

.apply-desk .page__btn-5 {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.apply-desk .page__btn-5::after {
  content: '';
  background-image: url(../assets/images/png/Union.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 12px;
}

.footer {
  padding: 50px 0;
  background-color: #2E2E2E;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrapper .logo {
  margin-bottom: 50px;
}

.footer-wrapper .footer-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.footer-wrapper .page__text-18-Semi,
.footer-wrapper .page__text-16-Light {
  margin-bottom: 14px;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85%;
  max-width: 250px;
}

.footer-row .page__text-16-Light {
  max-width: 88px;
  margin-right: 25px;
}

.footer-row .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  background-image: url(../assets/images/png/form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  padding: 100px 0 100px;
}

.form-block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block-wrapper .consultations {
  padding: 53px 0 52px 50px;
  border: 4px solid #EF8B54;
  max-width: 635px;
}

.form-block-wrapper .left {
  margin-right: 50px;
  max-width: 600px;
}

.form-block-wrapper .left .page__text-18-Bold {
  margin-bottom: 30px;
}

.form-block-wrapper .left .page__text-41-Bold {
  margin-bottom: 60px;
}

.form-block-wrapper .consultations-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block-wrapper .page__img {
  margin-right: 5px;
}

.form-block-wrapper .page__text-25-Medium {
  margin-bottom: 14px;
}

.form-block-wrapper .page__text-16-Light {
  margin-bottom: 5px;
}

.form-block-wrapper .form {
  max-width: 350px;
  padding: 30px;
  background-color: #fff;
}

.form-block-wrapper input {
  margin-bottom: 15px;
  width: 90%;
  background-color: #F6F6F6;
  border: 0.5px solid #D0D0D0;
  height: 44px;
  padding-left: 20px;
  outline: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper input::-moz-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper input:-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper input::-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper .textarea {
  padding-left: 20px;
  padding-top: 13px;
  margin-top: 10px;
  width: 290px;
  height: 80px;
  background-color: #F6F6F6;
  border: 0.5px solid #D0D0D0;
  outline: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
  margin-bottom: 12px;
}

.form-block-wrapper .textarea::-webkit-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper .textarea::-moz-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper .textarea:-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper .textarea::-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper .textarea::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #595959;
}

.form-block-wrapper .checkbox {
  margin-right: 10px;
}

.form-block-wrapper .checkbox input {
  background: transparent;
}

.form-block-wrapper .checkbox .form-group {
  display: block;
  margin-bottom: 15px;
}

.form-block-wrapper .checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-block-wrapper .checkbox .form-group label {
  position: relative;
  max-width: 240px;
  cursor: pointer;
}

.form-block-wrapper .checkbox .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #D0D0D0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-block-wrapper .checkbox .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #EC5C36;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-block-wrapper .form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.form-block-wrapper .form-row .page__text-10-Regular {
  max-width: 250px;
}

.form-block-wrapper .g-recaptcha {
  margin-bottom: 15px;
}

.form-block-wrapper .page__btn-4 {
  width: 100%;
  height: 48px;
}

.header {
  padding: 10px 10px;
  background-color: #202020;
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.background {
  background-color: #292929;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
}

.burger {
  display: block;
  margin-right: 5px;
}

.burger button {
  background-color: transparent;
  border: transparent;
}

.burger .icon {
  width: 26.5px;
  height: 34px;
  position: relative;
  cursor: pointer;
  z-index: 4000;
}

.burger .icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25 ease;
  transition: 0.25 ease;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger .icon span:nth-child(1) {
  top: 5px;
}

.burger .icon span::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  display: inline-block;
  width: 10px;
  height: 3px;
  background-color: #fff;
  z-index: 5;
}

.burger .icon span:nth-child(2) {
  top: 13px;
  z-index: 10;
}

.burger .icon span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  left: 3px;
  top: 3px;
  height: 8px;
  background-color: #fff;
  z-index: 5;
  height: 3px;
}

.burger .icon span:nth-child(3) {
  top: 13px;
  height: 3px;
}

.burger .icon span:nth-child(4) {
  top: 21.5px;
  z-index: 10;
}

.burger .icon span::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  display: inline-block;
  height: 3px;
  background-color: #fff;
  z-index: 5;
}

.burger .icon.active {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.burger .icon.active span {
  z-index: 20;
}

.burger .icon.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  z-index: 10;
  display: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.burger .icon.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.burger .icon.active span:nth-child(2)::after {
  top: 2px;
}

.burger .icon.active span:nth-child(3) {
  -webkit-transform: rotate(-43deg);
  transform: rotate(-43deg);
  z-index: 10;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  top: 15.5px;
  right: 2px;
}

.burger .icon.active span:nth-child(3)::after {
  display: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.burger .icon.active span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  z-index: 10;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.burger .icon.active span:nth-child(4)::after {
  display: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.burger .other {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background: rgba(39, 39, 39, 0.6);
}

.burger .inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  background: #000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.burger .inner .page__text-20-regular {
  color: #fff;
}

.burger .inner button {
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #FF834E;
}

.burger .inner .mb20 {
  margin-bottom: 20px;
}

.burger .inner .nav-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger .inner.active {
  opacity: 1;
}

.header-wrapper-desktop {
  display: none;
  padding: 20px 0 20px;
}

.header-wrapper-desktop .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrapper-desktop .right .page__text-14-Regular {
  margin-right: 30px;
}

.header-wrapper-desktop .logo {
  margin-right: 90px;
}

.header-wrapper-desktop .page__btn-1 {
  margin-right: 30px;
}

.header-wrapper-desktop .page__text-18-Light {
  margin-right: 10px;
}

.how-work {
  padding-top: 40px;
  padding-bottom: 30px;
}

.how-work .page__text-14-Regular-oth {
  max-width: 240px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 37px;
}

.how-work-wrapper {
  border-left: 5px dashed #929292;
  padding-left: 15px;
}

.how-work-wrapper:not(:last-child) {
  padding-top: 15px;
}

.how-work-wrapper .how-work-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.how-work-wrapper .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.how-work-wrapper .page__text-12-Bold {
  margin-left: 11px;
}

.how-work-wrapper .padding-0 {
  padding: 0;
}

.how-work-wrapper .padding-top {
  padding-top: 15px;
}

.how-work-wrapper .border-none {
  border: none;
}

.how-work-wrapper .accordion {
  position: relative;
  border-radius: .88rem;
  background: #fff;
  width: 100%;
  margin-bottom: 30px;
}

.how-work-wrapper .accordion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: -15px;
  opacity: .16;
}

.accordion.active .accordion__icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion.active .page__text-32-Bold-black {
  color: #EF8B54;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.accordion__header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  background: #fff;
  border-radius: .88rem;
  z-index: 10;
}

.accordion__icon {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-left: 5px;
}

.accordion__title {
  font-weight: 700;
  font-size: .75rem;
}

.accordion__body {
  position: relative;
  height: 0;
  min-height: 2.4rem;
  border-radius: .88rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
  width: 80%;
}

.accordion__inner {
  position: relative;
  padding-top: 50px;
  width: 100%;
  font-size: .88rem;
  line-height: 1.13rem;
}

.accordion__text {
  width: 92%;
  padding-left: 5px;
  overflow: hidden;
}

.how-work-destop {
  display: none;
  background-image: url(../assets/images/png/how-work-desc-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 350px 0;
}

.how-work-destop .page__text-26-Regular {
  text-align: center;
  margin-bottom: 245px;
}

.how-work-destop-wrapper {
  border-top: 11px dashed rgba(212, 203, 203, 0.2);
  border-right: 11px dashed rgba(212, 203, 203, 0.2);
  border-bottom: 11px dashed rgba(212, 203, 203, 0.2);
  border-radius: 10px;
  position: relative;
  height: 354px;
  z-index: 25;
}

.how-work-destop-wrapper::before {
  content: "";
  position: absolute;
  height: 170px;
  width: 170px;
  opacity: .4;
  left: -120px;
  top: -150px;
  background-image: url(../assets/images/png/Start.svg);
  background-repeat: no-repeat;
}

.how-work-destop-wrapper::after {
  content: "";
  position: absolute;
  height: 45px;
  width: 45px;
  opacity: .4;
  bottom: -28px;
  left: -30px;
  background-repeat: no-repeat;
  background-image: url(../assets/images/png/Finish.svg);
}

.first-row,
.second-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.relative {
  position: relative;
  bottom: 180px;
}

.how-work-destop-item {
  max-width: 250px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  z-index: 20;
}

.how-work-destop-item .page__text-118-Bold {
  position: relative;
  z-index: 10;
  bottom: -48px;
  text-align: end;
}

.how-work-destop-item:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.how-work-destop-item:hover .background {
  background: #ffffff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.how-work-destop-item:hover .background svg {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}

.how-work-destop-item:hover .page__text-118-Bold {
  color: #EF8B54;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.how-work-destop-item:hover .text-second-hover {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.how-work-destop-item:hover .text-second {
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.how-work-destop-item .background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: #1D1D1D;
  border-radius: 50%;
  margin-bottom: 20px;
  z-index: 30;
}

.how-work-destop-item .text-second-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
  top: -25px;
  left: 15px;
}

.how-work-destop-item .text-second-hover .page__text-18-Regular {
  margin-right: 0px;
}

.how-work-destop-item .text-second-hover a {
  text-decoration: underline;
}

.how-work-destop-item .text-second {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  text-align: center;
}

.how-work-destop-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ourClients {
  background-image: url(../assets/images/png/Blume2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 120px 0;
  position: relative;
}

.ourClients .page__text-20-Regular {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.slider-mob {
  background: transparent;
  position: relative;
  z-index: 100;
  min-width: 0px;
  max-width: 1300px;
  margin: 0 auto;
}

.slider-mob .slick-list {
  overflow: hidden;
}

.slider-mob .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.slider-mob .slick-slide {
  min-width: 0;
}

.slider-mob .slide {
  min-width: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 76px;
  padding: 20px 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  z-index: 4000;
  border-radius: 30px;
}

.slider-mob .page__img {
  text-align: center;
  margin: 0 auto 30px auto;
}

.slider-mob .page__text-32-Medium {
  margin-bottom: 10px;
  min-width: 0px;
}

.slider-mob .page__text-24-regular-grey {
  max-width: 331px;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0px;
}

.slider-mob .row-slide {
  min-width: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0px;
}

.slider-mob .row-slide .page__text-24-Medium {
  max-width: 137px;
  text-align: center;
  min-width: 0px;
}

.slider-mob .row-slide a {
  color: #1E88E5;
  text-decoration: underline;
  margin-left: 60px;
  min-width: 0px;
}

#nextArrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 15%;
  right: 25%;
  z-index: 100;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#prevArrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 15%;
  left: 25%;
  z-index: 100;
  border-radius: 50%;
}

.ourClients-desktop {
  display: none;
  background-image: url(../assets/images/png/our-clients-bg-desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 200px;
  position: relative;
}

.ourClients-desktop .page__text-42-Regular {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 26px;
  margin-top: 60px;
}

.slider-desk {
  background: transparent;
  position: relative;
  z-index: 100;
  min-width: 0px;
  max-width: 1300px;
  margin: 0 auto;
}

.slider-desk .slick-list {
  overflow: hidden;
}

.slider-desk .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.slider-desk .slick-slide {
  min-width: 0;
}

.slider-desk .slide.slick-slide.slick-current {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.slider-desk .slide.slick-slide.slick-current.slick-active .page__text-190-Bold {
  color: #EF8B54;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  z-index: 40;
}

.slider-desk .page__text-190-Bold {
  color: #FFFFFF;
  opacity: .1;
  position: relative;
  top: 50px;
  left: 40px;
}

.slider-desk .slide {
  min-width: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 26px;
  padding: 20px 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  z-index: 4000;
  border-radius: 30px;
}

.slider-desk .page__img {
  text-align: center;
  margin: 0 auto 30px auto;
  z-index: 50;
}

.slider-desk .page__text-32-Medium {
  margin-bottom: 10px;
  min-width: 0px;
}

.slider-desk .page__text-24-regular-grey {
  max-width: 331px;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0px;
}

.slider-desk .row-slide {
  min-width: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0px;
}

.slider-desk .row-slide .page__text-24-Medium {
  max-width: 137px;
  text-align: center;
  min-width: 0px;
}

.slider-desk .row-slide a {
  color: #1E88E5;
  text-decoration: underline;
  margin-left: 60px;
  min-width: 0px;
}

#nextArrow-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 17%;
  right: 44%;
  z-index: 100;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#prevArrow-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 17%;
  left: 44%;
  z-index: 100;
  border-radius: 50%;
}

.pay-systems {
  padding-top: 89px;
  padding-bottom: 10px;
  background-image: url(../assets/images/png/Blume-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1D1D1D;
}

.pay-systems .page__text-16-Semi,
.pay-systems .page__text-12-Regular {
  text-align: center;
}

.pay-systems .page__text-12-Regular {
  max-width: 280px;
}

.pay-systems .page__text-16-Semi {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pay-systems .pay-systems-item {
  margin-bottom: 50px;
}

.pay-systems .page__img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 auto;
}

.pay-systems-item {
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pay-systems-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pay-systems-desktop {
  background-image: url(../assets/images/png/Group-16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 180px 0 100px 0;
  display: none;
}

.pay-systems-desktop-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.pay-systems-desktop-wrapper .right {
  max-width: 630px;
  padding-top: 130px;
}

.pay-systems-desktop-wrapper .left {
  margin-right: 100px;
}

.pay-systems-desktop-wrapper .page__text-26-Bold {
  line-height: 35px;
}

.pay-systems-desktop-wrapper .page__text-18-Regular {
  line-height: 25px;
  margin: 40px 0;
}

.pay-systems-desktop-wrapper .row-systems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pay-systems-desktop-wrapper .row-systems .page__img {
  margin-right: 20px;
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.links .page__text-18-Regular {
  opacity: .4;
  text-decoration: underline;
}

.links .page__text-18-Regular:hover {
  color: #EF8B54;
}

.links .page__text-18-Regular:nth-child(2) {
  margin: 0 100px 0 100px;
}

.page a {
  text-decoration: none;
}

.page__title-h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 52px;
  line-height: 69px;
  color: #fff;
}

.page__text-10-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 10px;
  color: #595959;
}

.page__text-11-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 11px;
  color: #393939;
}

.page__text-11-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
}

.page__text-12-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  color: #393939;
}

.page__text-12-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
}

.page__text-12-Light {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  opacity: .5;
}

.page__text-13-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 13px;
  color: #FF834E;
}

.page__text-14-Regular {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.page__text-14-Regular-oth {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #393939;
}

.page__text-15-thin {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.page__text-16-Semi {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.page__text-16-Light {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.page__text-18-Light {
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.page__text-18-Light-Roboto {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.page__text-18-Semi {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  opacity: .5;
}

.page__text-18-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.page__text-18-Regular-2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.page__text-18-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.page__text-20-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.page__text-21-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  line-height: 28px;
}

.page__text-22-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  color: #EF8B54;
}

.page__text-22-Medium {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  line-height: 26px;
}

.page__text-25-Medium {
  font-family: Roboto;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  line-height: 26px;
}

.page__text-26-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}

.page__text-26-Medium {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
}

.page__text-26-Medium-2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
}

.page__text-26-Bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 26px;
  color: #fff;
}

.page__text-32-Bold-black {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  color: #393939;
}

.page__text-32-Bold-orange {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  color: #EF8B54;
}

.page__text-41-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 41px;
  color: #EF8B54;
}

.page__text-42-Regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 42px;
}

.page__text-118-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 118px;
}

.page__text-190-Bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 190px;
}

.page__link {
  color: #252525;
}

.page__btn-1 {
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 47px;
  padding: 13px 26px;
  color: #FF834E;
  border: 1px solid #FF834E;
  background: transparent;
}

.page__btn-2 {
  font-family: Montserrat;
  font-weight: 400;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  padding-left: 15px;
  font-size: 16px;
  color: #fff;
  border: transparent;
  background-color: #FF834E;
  width: 280px;
  letter-spacing: .8px;
}

.page__btn-3 {
  font-family: Montserrat;
  font-weight: 400;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 43px;
  padding-left: 15px;
  font-size: 13px;
  color: #fff;
  border: transparent;
  background-color: transparent;
  border: 2px solid #fff;
  width: 230px;
  letter-spacing: .6px;
  border-radius: 5px;
}

.page__btn-4 {
  font-family: Montserrat;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 43px;
  padding-left: 15px;
  font-size: 14px;
  color: #fff;
  border: transparent;
  background-color: transparent;
  border: 2px solid #fff;
  width: 230px;
  letter-spacing: .6px;
  border-radius: 5px;
  background: linear-gradient(113.3deg, #DE9B55 -8.73%, #EE5432 93.23%);
  -webkit-box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
  box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
}

.page__btn-5 {
  font-family: Montserrat;
  font-weight: 400;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 65px;
  padding-left: 0px;
  font-size: 18px;
  color: #fff;
  border: transparent;
  background-color: transparent;
  width: 250px;
  letter-spacing: .6px;
  background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4333;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #01223770;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal .modal-container {
  position: relative;
  padding: 62px 53px 61px 53px;
}

.modal .modal__in {
  width: 700px;
  background-color: #262626;
}

.modal .page__text-26-Bold {
  max-width: 588px;
  text-align: left;
  margin-bottom: 30px;
}

.modal .page__text-18-Regular {
  text-align: left;
}

.modal .js-modal-close {
  position: absolute;
  right: -50px;
  top: -65px;
}

@media screen and (min-width: 578px) {
  .slider-mob .slick-arrow {
    display: none !important;
  }

  .slider-desk .slick-arrow {
    display: none !important;
  }

  .pay-systems .page__img img {
    max-width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .pay-systems .page__img img {
    max-width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background-image: url(../assets/images/png/desk-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-wrapper {
    display: none;
  }

  .banner-wrapper-desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .banner-wrapper-desktop .page__text-20-Regular {
    margin-bottom: 120px;
  }

  .banner-wrapper-desktop .left {
    max-width: 520px;
  }

  .banner-wrapper-desktop .page__img {
    width: 300px;
  }

  .banner-wrapper-desktop .page__title-h1 {
    margin-bottom: 20px;
  }

  .cases {
    display: none;
  }

  .cases-desktop {
    display: block;
  }

  .cases-desktop .page__text-42-Regular {
    margin-bottom: 60px;
  }

  .cases-desktop-item {
    max-width: 300px;
    margin-left: 10px;
  }

  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .form-block {
    display: block;
  }

  .how-work {
    display: none;
  }

  .how-work-destop {
    display: block;
  }

  .ourClients {
    display: none;
  }

  .ourClients-desktop {
    display: block;
  }

  .slider-desk .slide {
    margin-right: 26px;
  }

  .pay-systems {
    display: none;
  }

  .pay-systems-desktop {
    display: block;
  }

  .pay-systems-desktop-wrapper .right {
    padding-top: 60px;
    max-width: 530px;
  }

  .pay-systems-desktop-wrapper .left {
    margin-right: 50px;
  }

  .page__title-h1 {
    font-size: 32px;
    line-height: 49px;
  }

  .page__text-12-Light {
    font-size: 14px;
    opacity: 1;
  }

  .page__text-18-Light-Roboto {
    font-size: 13px;
  }

  .page__text-18-Regular {
    font-size: 16px;
  }

  .page__text-20-Regular {
    font-size: 16px;
  }

  .page__text-22-Bold {
    font-size: 20px;
  }

  .page__text-26-Regular {
    font-size: 20px;
  }

  .page__text-26-Medium {
    font-size: 20px;
  }

  .page__text-26-Medium-2 {
    font-size: 15px;
  }

  .page__text-26-Bold {
    font-size: 20px;
  }

  .page__text-41-Bold {
    font-size: 38px;
  }

  .page__text-42-Regular {
    font-size: 38px;
  }

  .page__text-118-Bold {
    font-size: 80px;
  }

  .page__text-190-Bold {
    font-size: 120px;
  }
}

@media screen and (min-width: 1250px) {
  .banner-wrapper-desktop {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .banner-wrapper-desktop .left {
    max-width: 820px;
  }

  .banner-wrapper-desktop .page__img {
    width: 400px;
  }

  .cases-desktop .page__text-42-Regular {
    margin-bottom: 120px;
  }

  .cases-desktop-item {
    max-width: 310px;
    margin-right: 20px;
  }

  .form-block-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .pay-systems-desktop-wrapper .right {
    padding-top: 100px;
    max-width: 630px;
  }

  .page__title-h1 {
    font-size: 42px;
  }

  .page__text-20-Regular {
    font-size: 18px;
  }

  .page__text-22-Bold {
    font-size: 22px;
  }

  .page__text-26-Regular {
    font-size: 24px;
  }
}

@media screen and (min-width: 1420px) {
  .cases-desktop .page__text-42-Regular {
    font-size: 42px;
  }

  .header-wrapper {
    display: none;
  }

  .header-wrapper-desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .ourClients-desktop .page__text-42-Regular {
    font-size: 42px;
  }

  .page__title-h1 {
    font-size: 52px;
  }

  .page__text-20-Regular {
    font-size: 20px;
  }

  .page__text-26-Regular {
    font-size: 26px;
  }

  .page__text-42-Regular {
    font-size: 42px;
  }
}

@media screen and (min-width: 1445px) {
  .slider-desk .slide {
    margin-right: 46px;
  }
}

@media screen and (min-width: 1562px) {
  .banner-wrapper-desktop {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .banner-wrapper-desktop .left {
    padding-top: 90px;
  }

  .banner-wrapper-desktop .right {
    width: 38%;
  }

  .banner-wrapper-desktop .page__img {
    width: 580px;
  }

  .cases-desktop-wrapper {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}